<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Your email address <%= @user.email %> is approved by admin. </h2>
    <br/>
    <br/>
    <h3>Thank you for your patience!</h3>
    <p>Now you can use Time Manager website and maintain your timesheet.<br/></p>
  </body>
</html>