<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Your email address <%= @user.email %> is rejected by admin. </h2>
    <br/>
    <br/>
    <p>You will not be able to use the Time Manager website.<br/> Sorry for the inconvenience! </p>
  </body>
</html>