<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>You have successfully registered with us.</h2>
    <h2>Your email address is : <%= @user.email %> . </h2>
    <br/>
    <br/>
    <h3>Thank you for registering!</h3>
    <p>You can use Time Manager website once you have get approved from admin.<br/></p>
  </body>
</html>