<div id="content_wrapper">
  <div id="content">
    <img class="scrollButtons left" src="" alt=""/>
    <div class="scroll" style="overflow: hidden;">
      <div class="scrollContainer" style="width: 4300px;">
        <div class="panel" id="home" style="float: left; position: relative;">
          <div class="col_400 float_l">
            <h1>About</h1>
            <div class="cleaner_h15"></div>
            <h3> What is Time Manager ? </h3>
            <p>
              <em>
                Time Manager is a free Website service where you can maintain your office working timings.
              </em>
            </p>
          </div>
          <div class="cleaner_h20"></div>
        </div>
      </div>
    </div>
  </div>
</div>
