<div id="content_wrapper">
  <div id="content">
    <img class="scrollButtons left" src="" alt=""/>
    <div class="scroll" style="overflow: hidden;">
      <div class="scrollContainer" style="width: 4300px;">
        <div class="panel" id="home" style="float: left; position: relative;">
          <div class="col_400 float_l">
            <h1>Instructions</h1>
            <div class="cleaner_h15"></div>
            <h3> How to use ? </h3>
            <ul>
              <li><em>First you have to create an account on Time Manager website. </em></li>
              <li><em>Then you have to wait for the admin approval. </em></li>
              <li><em>Once you have aprooved from Admin then you can login and use Time Manager website </em></li>
              <li><em>Then you have to fill your office in time and out time on edit timesheet page. </em></li>
            </ul>
            <div class="cleaner_h15"></div>
            <h3> Registration process </h3>
            <ul>
              <li><em>First you have to create an account on Time Manager website. </em></li>
              <li><em>Then it will go for the aprooval. </em></li>
              <li><em>After admin aproval you will get an email and you will be able to use Time Manager website </em></li>
            </ul>
          </div>
          <div class="cleaner_h20"></div>
        </div>
      </div>
    </div>
  </div>
</div>
